h1 {
    position: relative;
    /*left: 190px;*/
}

p {
    word-wrap: none;
}

.brand {
    background-color: salmon;
    position: relative;
    /*left: 190px;*/
    width: fit-content;
}

.descript {
    background-color: pink;
    position: relative;
    /*left: 190px;*/
    width: max-content;
}

.logo {
    background-color: bisque;
    position: relative;
    width: fit-content;
}

.form-group-text {
    background-color: gainsboro;
    position: absolute;
    width: fit-content;
    padding-left: 190px;
}