.v {
    background-color: rgba(248, 248, 248, 0.952);
    height: 850px;
}

p {
    color: grey;
    /*background: salmon;*/
    width: fit-content;
}

.form-group-text {
    position: absolute;
    padding-top: 20px;
}

.logo {
    position: relative;
    padding-top: 20px;
}

h3 {
    position: relative;
    padding-left: 190px;
    width: 100%;
}

.pay-pro {
    position: relative;
    padding-left: 190px;
}

.brand {
    position: relative;
    padding-left: 190px;
}

.descript {
    position: relative;
    padding-left: 190px;
}



    /* ------------ icon and infomation & table ------------*/

table, td, th {
    /*border: 1px rgba(238, 238, 238, 0.952);*/
    border: 1px solid rgb(223, 220, 220);
    /*width: 50px;
    height: 185px;*/
}
    
table {
    border-collapse: collapse;
}

.icon-text {
    /*background-color: lightblue;*/
    align-items: center;
    width: 100%;
}

.insurer-age {
    position: relative;
    /*background-color: pink;*/
    width: 250PX;
}

.item {
    position: relative;
    /*background-color: pink;*/
    width: 100%;
}


/* อายุรับประกัน */
.fa-user {
    position: relative;
    color: rgb(33, 125, 179);
}

/* รับเงินจ่ายคืน */
.fa-hand-holding-usd {
    color: rgb(33, 125, 179);
}

/* เงินปันผล */
.fa-coins {
    color: rgb(33, 125, 179);
}

/* สิทธิลดหย่อนภาษี */
.fa-funnel-dollar {
    color: rgb(33, 125, 179);
}

/* การซื้อสัญญาเพิ่มเติม */
.fa-file-contract {
    color: rgb(33, 125, 179);
}

/* การตรวจสุขภาพ */
.fa-notes-medical {
    color: rgb(33, 125, 179);
}

/* เงินเอาประกันภัยขั้นต่ำ*/
.fa-comments-dollar {
    color: rgb(33, 125, 179);
}

/* รูปแบบการชำระเบี้ยประกัน */
.fa-receipt {
    color: rgb(33, 125, 179);
}

/* วิธีการชำระเบี้ยประกัน */
.fa-credit-card {
    color: rgb(33, 125, 179);
}


/*--------- Container no.2 (container b) --------*/

.b {
    background-color: rgba(238, 238, 238, 0.952);
    height: 1050px; 
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.952);
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

#panel-v, #flip-v {
    padding: 5px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.952);
    border: solid 1px #c3c3c3;
}

#panel-v {
    padding: 50px;
    display: none;
}

.benefits {
    position: relative;
}