.v {
    background-color: rgba(238, 238, 238, 0.952);
    height: 1050px;
}

p {
    color: grey;
}

.form-group-text {
    position: absolute;
    padding-top: 20px;
}

.logo {
    position: relative;
    padding-top: 20px;
}

h3 {
    position: relative;
    padding-left: 190px;
}

.pay-pro {
    position: relative;
    padding-left: 190px;
}

.brand {
    position: relative;
    padding-left: 190px;
}

.descript {
    position: relative;
    padding-left: 190px;
}



    /* ------------ icon and infomation ------------*/

.icon-text {
    position: relative;
    width: 1100px;
}

.insurer-age {
    position: relative;
    /*background-color: pink;*/
    width: 250PX;
}

.item {
    position: relative;
    /*background-color: pink;*/
    width: 250px;
}

table, td, th {
    /*border: 1px rgba(238, 238, 238, 0.952);*/
    border: 1px solid rgb(200, 200, 200);
    width: 50px;
    height: 185px;
}
  
table {
    width: 1100px;
    border-collapse: collapse;
}

.fa-user {
    position: relative;
    color: rgb(92, 88, 88);
}



/*--------- Container no.2 (container b) --------*/

.b {
    background-color: rgba(238, 238, 238, 0.952);
    height: 1050px; 
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.952);
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    }

#panel-v, #flip-v {
    padding: 5px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.952);
    border: solid 1px #c3c3c3;
    }

#panel-v {
    padding: 50px;
    display: none;
    }